div {
    width: 100%;
    height: 300px;
    background-size: cover;
}

.gallery {
    display: flex;
    padding: 2px;
    transition: .3s;
    width: 1    00%;
    height: auto;   
    
    &:hover &__image {
        filter: grayscale(1);
    }
    
    &__column {
        display: flex;
        flex-direction: column;
        width: 10px;
    }
    
    &__link {
        margin: 2px;
        overflow: hidden;
		}
	}
    
    &__thumb {
        position: relative;
    }
	
	&__image {
		display: block;
		width: 100%;
		transition: .3s;
		
		&__:hover {
			transform: scale(1.1);
		}
	}
}