body {
    background-image: url("mistyForest.jpg");
    background-size: cover;
}

ul {
  position: fixed;
  width: 28%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb( 62, 78, 94);
  border-radius: 15px;
}

li {
  border-right: 1px solid white;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover { 
    background-color: rgb(193, 199, 211);
}

li:last-child{
  border-right: none;
}

.active {
    background-color: #337955;
}